{{#rank}}
Место _{{rank}}_ в общем рейтинге
{{/rank}}
{{#totalBikechecks}}
_Байкчек {{bikecheckOrder}} из {{totalBikechecks}}_
{{/totalBikechecks}}
Нравится: _{{likes}}_
Не нравится: _{{dislikes}}_
{{#telegramPubLink}}
[{{telegramPubName}}]({{{telegramPubLink}}})
{{/telegramPubLink}}
{{^telegramPubLink}}
_Паблик не показывал_
{{/telegramPubLink}}
{{#onSale}}
*Кстати, этот байк продается\!*
{{/onSale}}
